.pantalla-creacion {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  background-image: url('./assets/background_crear_partida.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000;
  display: flex;           
  align-items: center;        
  justify-content: flex-end;
}

.form-container {
  padding: 2rem;
  border-radius: 1rem;
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.error-message {
  color: #ff3333;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

.cantidad-jugadores-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 0.5rem;
}

/* Botones */
.btn-cantidad-jugador {
  width: 40px;
  height: 40px;
  border: 2px solid #825012;
  border-radius: 8px;
  background-color: #3D0800;
  color: #B49150;
  font-weight: bold;
  cursor: pointer;
  display: flex;      
  align-items: center;     
  justify-content: center;
}

.btn-cantidad-jugador-activo {
  background-color: #FFD700;
  color: #000;
  border-color: #B49150;
}

.btn-continuar {
  background-color: #3D0800;
  color: #B49150;
  border: 2px solid #825012;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
